@tailwind base;
@tailwind components;

.card {
  @apply p-10 mx-3 my-8 z-20 transition duration-200 ease-out;
  height: 75vh;
}

.card:hover {
  @apply shadow-xl transition-all duration-300 ease-in-out;
}

.cardDummy {
  @apply p-10 mx-3 my-8 z-20;
  height: 75vh;
}

.stack-cards__item {
  @apply sticky m-2;
  top: 40%;
  transform-origin: center top;
  box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.1),
    0 4px 8px -2px rgba(0, 0, 0, 0.05);
}

.headPin {
  @apply origin-center rotate-0 transition duration-200 ease-out;
  height: 7vh;
}

.headPin:hover {
  @apply origin-center transform rotate-45 transition duration-300 ease-in-out;
}

@screen sm {
  .card {
    @apply w-4/5;
  }
}

@screen md {
  .card {
    @apply w-1/3;
  }
}

@screen xl {
  .card {
    @apply w-1/4;
  }
}

.homepageText {
  height: 75vh;
  margin-top: -75vh;
}

@tailwind utilities;
